@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h2 {
  font-size: 32pt;
  line-height: 4rem;
}

h3 {
  font-size: 18pt;
  line-height: 2rem;
}

h4 {
  font-size: 16pt;
  line-height: 1.75rem;
}

h5 {
  font-size: 14pt;
  line-height: 1.5rem;
}

h6 {
  font-size: 12pt;
  line-height: 1.5rem;
}

.offer-box{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card-money-back{
  background-color: rgb(46, 37, 78);
    box-shadow: rgba(0, 0, 0, 0.23) 0px 24px 40px 0px;
    border-radius: 12px;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(-20%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.custom-bounce {
  animation: bounce 1.6s infinite; /* Slightly slower for better readability */
}


/* For Checkbox */

